.snackbar {
  position: fixed;
  left: 30%;
  bottom: 1.9rem;
  padding: 0.9rem 1.8rem;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  gap: 2.2rem;
  color: var(--white);
}
.hide-snackbar {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white);
  margin-left: auto;
}
.hide-snackbar:active {
  border-radius: 50%;
  background-color: var(--flatred);
}
.snackbar-text {
  font-size: 1.2rem;
}
.snackbar-success {
  background-color: var(--flatgreen);
}
.snackbar-warning {
  background-color: var(--alertyellow);
}
.snackbar-alert {
  background-color: var(--alertred);
}
.snackbar-feature {
  background-color: var(--flatblue);
}
