a {
  text-decoration: none;
  color: black;
}
.content {
  display: flex;
  position: relative;
  width: 100%;
}

.scroll-bar {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 10px 8px #888888;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
}
.scroll-bar-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 800;
  height: 3.4rem;
  font-size: 1.3rem;
  box-shadow: 10px 10px 8px #888888;
  padding: 0.2rem;
}
.title {
  font-weight: bold;
  font-size: 2.3rem;
  padding: 0.3rem;
  margin: 0.3rem;
  text-align: center;
}

.right-section {
  width: 100%;
  padding-right: 5rem;
  padding-left: calc(3rem + 30%);
}
