body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: var(--white);
}
.navbar {
  display: flex;
  box-shadow: 10px 10px 8px #888888;
  flex-wrap: wrap;
}
.navbar-icons {
  margin-left: auto;
}
.title {
  font-size: 2.5rem;
  padding: 0.8rem;
  font-weight: bold;
}
.header-img {
  height: 8vh;
  padding: 1rem;
}
.navbar-img {
  width: 10vw;
  height: 10vh;
  object-fit: cover;
  padding: 0.8rem;
  border-radius: 50%;
}

.landing-page-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 2.2rem;
  margin: 1.2rem;
}
.author {
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  position: absolute;
  left: 51%;
  bottom: 3%;
  transform: translateX(-50%);
  letter-spacing: 0.2rem;
  padding-top: 1.8rem;
}
.desc {
  font-size: 1.3rem;
  font-weight: 500;
}
.landing-page-img {
  object-fit: contain;
}
@media only screen and (max-width: 600px) {
  .landing-page-img {
    height: 8rem;
    width: 8rem;
  }
}
@media only screen and (min-width: 600px) {
  .landing-page-img {
    height: 12rem;
    width: 12rem;
  }
}

@media only screen and (min-width: 768px) {
  .landing-page-img {
    height: 17rem;
    width: 17rem;
  }
}

@media only screen and (min-width: 992px) {
  .landing-page-img {
    height: 22rem;
    width: 22rem;
  }
}

@media only screen and (min-width: 1200px) {
  .landing-page-img {
    height: 27rem;
    width: 27rem;
  }
}
.doc-btn {
  background-color: var(--darkblue);
  color: var(--white);
  padding: 0.8rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
